* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-style: regular;
    font-weight: 400;
    font-size: 5em;
}

.wrapper {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 800px;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 0;
}

.accordion li label {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fredoka One', cursive;
    font-style: regular;
    font-weight: 400;
    font-size: 2.5em;
    cursor: pointer;
}

.accordion li label span {
    font-size: 1.5em;
    transform: rotate(90deg);
}

.content {
   display: flex; 
   justify-content: center;
   align-items: center;
}

.content img {
    height: 30em;
    width: 30em;
    margin: 0 auto;
}